/*===BODY=== */
body { 
  background-color: #0e0f11; 
  background-image: linear-gradient(45deg, #1f1f1f 25%, transparent 25%), 
                    linear-gradient(-45deg, #1f1f1f 25%, transparent 25%), 
                    linear-gradient(45deg, transparent 75%, #1f1f1f 75%),
                    linear-gradient(-45deg, transparent 75%, #1f1f1f 75%); 
  background-size: 8px 8px; 
  background-position: 0 0, 0 4px, 4px -4px, -4px 0px; 
}


/*===NAVBAR===*/
.navbar {
    background: linear-gradient(
        90deg,
        rgba(18, 18, 18, 0.98),
        rgba(18, 18, 18, 0.9)
    );
    border-bottom: 1px solid var(--border-soft);
    backdrop-filter: blur(8px);
}
.card-custom {
    background: #121212;
    border: 1px solid #262626;
    border-radius: 12px;
    transition: 0.3s;
    height: 100%;
    min-height: 180px;
    /* important */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*===CARD===*/
.card-custom {
    background:#121212 ;
    border: 1px solid #262626;
    border-radius: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-custom:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px #9526F3;
    border-color: #9526F3;
}
/*===TEXT COLOR===*/
.text-orange {
    color: #9526F3; 
    font-weight: 600;
}
/*===BUTTON===*/
.btn-orange {
    background: transparent;
    border: 2px solid #9526F3;
    border-radius: 25px;
    padding: 6px 24px;
    color: #9526F3;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.35s ease, box-shadow 0.35s ease;
}

/* hover glow */
.btn-orange:hover {
    color: #fff;
    box-shadow: 0 0 12px rgba(149, 38, 243, 0.6);
}

/* fill animation */
.btn-orange::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #9526F3, #7a1fd6, #b44cff);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: 0;
    color: #fff;
}
/* keep text above animation */
.btn-orange span {
    position: relative;
    z-index: 1;
    color: #fff;
}

.btn-orange:hover::before {
    transform: scaleX(1);
    color: #fff;
}